.content__block {
	font-size: 20px;
	margin-bottom: 40px;
	line-height: 1.2em;
	padding: 3%;
}
h2 {
	font-size: 32px !important;
	font-weight: 700 !important;
	margin-bottom: 20px !important;

	@media (max-width: 1100px) {
		font-size: 25px;
	}
}
.content__title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px !important;
	.content__title_back_btn {
		opacity: 60%;
		transition: opacity 0.3s ease-in-out;
		&:hover {
			opacity: 100%;
		}
	}
	@media (max-width: 1200px) {
		margin-bottom: 0px !important;
	}
}
p {
	line-height: 1.5em;
}
