.content__block {
	display: flex;
	justify-content: space-between;
	font-size: 20px;
	margin-bottom: 40px;
	line-height: 1.2em;
	.content__block__image {
		min-width: 45%;
		margin-right: 5%;
		img {
			width: 100%;
			max-height: 100%;
			border: 2px solid var(--color_border);
			border-radius: var(--border_radius);
		}
	}
	.content__block__info {
		position: relative;
		h3 {
			font-weight: 600;
			font-size: 30px;
			line-height: 35px;
		}
		aside {
			margin: 40px 0 30px 0;
		}
		.content__block__info_brand {
			display: flex;
			align-items: center;
			margin: 15px 0 30px 0;
			a {
				margin-left: 10px;
			}
		}
		.content__block__order {
			display: flex;
			align-items: center;
			justify-content: space-between;
			.content__block__order_text {
				display: flex;
				min-width: 150px;
				b {
					margin-left: 10px;
				}
			}
			.content__block__order_btns {
				display: flex;
				flex-direction: column;
				gap: 10px;
				button {
					font-size: 15px;
					padding: 10px 40px;
					border: 1px solid var(--color_border);
					border-radius: var(--border_radius);
					transition: all 0.3s ease-in-out;
					&:hover {
						color: #fff;
						background: var(--green);
					}
				}
			}
		}
		.content__block__sources {
			font-size: 16px;
			color: var(--color_text);
			h5 {
				font-weight: 600;
				margin-bottom: 15px;
			}
			ul {
				display: flex;
				flex-direction: column;
				gap: 5px;
			}
		}
	}
}

@media (max-width: 1000px) {
	.content__block {
		display: block;
	}
	.content__block__image {
		margin-right: 0 !important;
		margin-bottom: 5%;
		margin-top: 3%;
	}
}

@media (max-width: 600px) {
	.content__block__order {
		display: block !important;
	}
	.content__block__order_btns {
		margin: 20px 0 40px 0;
	}
}
