.form {
	display: flex;
	flex-direction: column;
	gap: 20px;
	input,
	select {
		font-size: 15px;
		border: 1px solid var(--color_border);
		border-radius: 20px;
		padding: 10px 20px;
	}
	.form_btn_filter {
		cursor: pointer;
		max-width: 300px;
		min-height: 30px;
		border-radius: 20px;
		transition: all 0.3s ease-in-out;
		background: #fff;
		&:hover {
			color: #fff;
			background: var(--green);
		}
	}
}
